<div class="banner">

    <%= form_for [@user],html: {class: "form-horizontal",multipart: true} do |f| %>
       <%= render 'shared/error',object: @user %>
       <div class="container">
         <div class="banner-top">
           <h1>Sign Up</h1>
           <div class="bnr-one">
            <div class="bnr-left">
              <p>Name</p>
            </div>
            <div class="bnr-right">
              <%= f.text_field :name,class: "form-control",id: "name" %>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="bnr-one">
            <div class="bnr-left">
              <p>Email</p>
            </div>
            <div class="bnr-right">
              <%= f.email_field :email,class: "form-control" %>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="bnr-one">
            <div class="bnr-left">
              <p>Password</p>
            </div>
            <div class="bnr-right">
              <%= f.password_field :password,class: "form-control" %>
            </div>
            <div class="clearfix"></div>
          </div>
          
          <div class="bnr-one">
            <div class="bnr-left">
              <p>Pass word confirm</p>
            </div>
            <div class="bnr-right">
              <%= f.password_field :password_confirmation,class: "form-control" %>
            </div>
            <div class="clearfix"></div>
          </div>
           
           <div class="bnr-btn">
            <form>
              <%= f.submit "Create my account", class: "btn btn-primary" %>
            </form>
          </div>
         </div>
        </div>
    <% end %>
</div>
  